body{
  margin:0;
  font-family:Arial,sans-serif;
  background:#232527;
  color:white;
}

.logo{
  text-align:center;
  margin-top:40px;
}

.container{
  display:flex;
  justify-content:center;
  gap:30px;
  margin-top:40px;
  flex-wrap:wrap;
}

.card{
  background:#393b3d;
  padding:25px;
  border-radius:12px;
  width:300px;
}

.card h2{
  margin-top:0;
}

input,select{
  width:100%;
  box-sizing:border-box;
  padding:12px;
  margin-top:10px;
  border:none;
  border-radius:8px;
}

button{
  width:100%;
  padding:12px;
  margin-top:12px;
  border:none;
  border-radius:8px;
  background:#00a2ff;
  color:white;
  cursor:pointer;
  font-weight:bold;
}

button:hover{
  opacity:.9;
}

nav{
  background:#393b3d;
  padding:15px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

nav button{
  width:auto;
  padding:10px 20px;
}

.homeContent{
  text-align:center;
  margin-top:100px;
}
