body{
margin:0;
font-family:Arial,sans-serif;
background:#313338;
color:white;
}

.card{
width:350px;
margin:100px auto;
background:#232428;
padding:30px;
border-radius:10px;
}

input{
width:100%;
padding:12px;
margin-top:10px;
margin-bottom:10px;
border:none;
border-radius:5px;
background:#1e1f22;
color:white;
box-sizing:border-box;
}

button{
width:100%;
padding:12px;
background:#5865F2;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

a{
color:#00a8fc;
}

#app{
height:100vh;
display:flex;
}

.sidebar{
width:240px;
background:#1e1f22;
padding:15px;
}

.dm{
padding:10px;
background:#2b2d31;
margin-top:5px;
border-radius:5px;
cursor:pointer;
}

.chat{
flex:1;
padding:20px;
background:#313338;
}
